

body {
    background-image: url(images/spaccee.jpg);
     /*  background: #000; 
    height: 120%;
    overflow: hidden;
    color: #78839B  */
      background-size: cover;  
     background-position: center; 
      background-repeat: no-repeat;
    background-attachment: fixed;
   
}

#bd {
    z-index: 1;
}

 /* body {

       background: red; 
    height: 120%;
    overflow: hidden;
  

   
}  */

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #b2b2ff
}

#nav_wrapper {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -130px;
    left: 0;
    width: 100%;
    z-index: 2
}

#site-title-header {
    display: block;
    margin: 0 0 30px 60px;
    padding: 0 0 0 10px;
    height: 30px;
    font-family: Abel, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #b2b2ff;
    text-transform: uppercase;
    cursor: pointer;
    border-left: 20px solid #b2b2ff
}


#site-nav {
    font-family: Abel, Arial, Helvetica, sans-serif
}

#site-nav>ul {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 124px;
    overflow: hidden
}

#site-nav>ul>li {
    display: block;
    margin: 0 0 1px;
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    background: 0 0;
    text-transform: uppercase;
    color: #78839b
}

#site-nav>ul>li.active {
    background-color: transparent
}

#site-nav>ul>li #highlight {
    display: block;
    padding: 0 0 0 65px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #78839b;
    background-color: rgba(55, 65, 85, .5)
}

#site-nav>ul>li #highlight:hover {
    background-color: #b2b2ff;
    background-color: #b2b2ff;
    color: #fff
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes chill {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

p {
    position: absolute;
    top: 10px;
    left: 12px;
    color: white;
    opacity: 0;
    font-family: "Source Sans Pro";
    animation: fadeIn 2s ease-out, chill 2s 2s, fadeOut 2s 4s;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: relative;
    /* top: -30px;
    right: 45px;
    font-size: 60px; */
    width: 40px;
}
.closebtn:hover {
    background-color: #b2b2ff;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.closebtn {
    display: block;
    padding: 0 0 0 65px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: blue;
    background-color: rgba(55, 65, 85, .5)
}


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea,
#email {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #b2b2ff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: green;
}

.container {
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.first  {
    font-size: 15px;
    color: #f2f2f2;
    padding: 5px 25px 5px 0;
    text-align: left;
}
.second  {
    font-size: 15px;
    color: #f2f2f2;
    padding: 5px 25px 5px 0;
    text-align: left;
}

.third  {
    font-size: 15px;
    color: #f2f2f2;
    padding: 5px 25px 55px 0;
    text-align: left;
}

.name {
    color: #b2b2ff
}

.self {
    position: relative;
    right: -25px;
    bottom: -10px;
}



/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

img {
    width: 77%;
    height: 100%;
}

.devicon-git-plain {
    max-width: 2em;
}


.prev:hover {
    background-color: #b2b2ff;

}
.next:hover {
    background-color: #b2b2ff;

}
.title {
    font-size: 20px;
}
.logo {
    font-size: 4em;
}